<% content_for :title do %>About<% end %>
<h3>About This Test Page</h3>
<p>This application is just a test. I'm trying my best to learn this fantastic web language!
I want to be efficient in writing my own, basic web applications before this  year(2014) is over.</p>